

.custom-font {
    font-size: 0.85rem;
}

.custom-table .ant-table-cell {
    font-size: 0.85rem;
    padding: 12px;
    padding: 0px 6px;
  }

.custom-table .ant-table-thead > tr > th {
    padding: 0px 6px; 
    font-size: 0.85rem; 
    line-height: 3; 
    background-color: #ededfa;
  }

  .custom-table .ant-table-tbody > tr > td {
    padding: 2px 4px; 
  }
  
  .custom-table .ant-table-cell {
    line-height: 2; 
  }